<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error - {{ siteTitle }}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/css/core.min.css">
</head>
<body>
    <div id="wrap">
        <div class="content">
            <h1>{{ error }}</h1>
            <p><a href="/">Return to Home</a></p>
        </div>
    </div>
</body>
</html>